.btn {
    width: 110px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #6c63ff;
    font-weight: 700;
    color: #6c63ff;
    background-color: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color: #6c63ff;
    color: white;
}

.modalBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
